@media (max-width: 575.98px) {
  .criteria-dropdown-wrapper {
    width: 80vw;
    margin: 1vh 0;
  }
}

@media (min-width: 576px) {
  .criteria-dropdown-wrapper {
    width: 20vw;

  }
}

@media (min-width: 768px) {
  .criteria-dropdown-wrapper {
    width: 25vw;
  }
}

.criteria-dropdown-wrapper {
  min-width: 180px;
  max-width: 450px;
}
